body {
   background-color: lightgray; 

}

img{
    width: 100%
}
div.icon{
    background-color: grey;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}
div.icon{
    width: 50px;
}

div.row{
    display:flex;
flex-wrap:wrap;

}
div.row2{
    display:flex;

}
div.container{
    outline: 18px solid black;
    position: relative;
  text-align: center;
  color: white;

}
div.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  div.box {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 300px;
    height: 400px;
    font-size: 25px;
    background-color: black;
    overflow: scroll;
  }
 div.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
div.col{
    outline: 2px solid rgb(226, 221, 210);
    width: 33.333%;
} 
div.banner {
    font-size:36px;
    background-color: grey;
    margin-bottom:20px;
  }
div.key{
    height: 50px;
    width: calc(10% - 20px);
    margin: 10px;
    text-align: center;
    color: aliceblue;
    background-color: black;
    display: inline-block;
    border-radius: 10px;
}
div.key:hover {
    background-color: rgb(74, 74, 74);
    color: black;
  }
  div.key1{
    position: relative;
    left: 80px;
    height: 50px;
    width: calc(10% - 20px);
    margin: 10px;
    text-align: center;
    color: aliceblue;
    background-color: black;
    display: inline-block;
    border-radius: 10px;
  }
  div.key1:hover {
    background-color: rgb(74, 74, 74);
    color: black;
  }
  div.key2{
    position: relative;
    left: 150px;
    height: 50px;
    width: calc(10% - 20px);
    margin: 10px;
    text-align: center;
    color: aliceblue;
    background-color: black;
    display: inline-block;
    border-radius: 10px;
  }
  div.key2:hover {
    background-color: rgb(74, 74, 74);
    color: black;
  }

div.width600{
    width: 33.333%;
}
div.width33{
    width: 33.33%;;
}
s
div.width66{
    width: 33.33%;
}
div.width3{
    width: 33.333%;
    height: 500px;
}
div.width3half{
    width: 33.333%;
    height: 200px;
}
div.width12{
    width: 25%;
}
div.width25{
    width: 50%;
}
div.width12{
    width: 25%;
}

div.circle {
    background-color: green;
    border-radius: 200px;
    height: 100%;
    text-align:center;
    font-size: 100px;
    
}
div.circle:hover{
    background:url(mouse.png);
}
div.sound{
    position: absolute;
    top: 105%;
    left: 88%;
    transform: translate(-50%, -50%);
        resize: both;
        overflow: auto;
}
div.box-header{
    font-weight: bold;
}
div.bannerlow {
    font-size:130px;
    background-color: rgb(112, 74, 74);
    margin-bottom:20px;
}
div.bg-image{
  height: 50%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img1 { background-image: url("img_1.jpg"); }
.img2 { background-image: url("img_2.jpg"); }
.img3 { background-image: url("img_3.jpg"); }
.img4 { background-image: url("img_4.jpg"); }
.img5 { background-image: url("img_5.jpg"); }

div.container.width3:hover{
    background:url(LCDBb.png);
}